.search {
	padding: 50px 0 100px 0;
	.search-input {
		padding-bottom: 40px;
		input {
			width: 40%;
		}
		label {
			font-size: 20px;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.6);
		}
		.search-btn {
			margin-left: 30px;
			border: none;
			text-transform: uppercase;
			width: 121px;
			height: 48px;
			margin-top: 10px;
			background: #6200ee;
			box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
				0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
			border-radius: 50px;
		}
	}

	.title {
		font-family: "Montserrat", sans-serif;
		font-weight: 400;
		font-size: 40px;
		margin: 0;
		padding: 10px 0;
		background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
		text-align: left !important;
		padding-left: 30px;
		color: #fff;
	}
	.sort-input {
		margin-top: 20px;
		display: flex;
		justify-content: end;
	}
	// .search-result {
	// 	padding-top: 20px;
	// 	.result {
	// 		.row {
	// 			.col-3 {
	// 				margin-top: 40px !important;
	// 				transition: all 0.3s ease-out;
	// 				.card {
	// 					box-shadow: 0 0 5px rgb(0 0 0 / 15%);
	// 					background: #f8f8f8;

	// 					.card-body {
	// 						text-align: left;
	// 						.text-top {
	// 							line-height: 29px;
	// 						}
	// 						.text-bot {
	// 							line-height: 24px;
	// 						}
	// 					}
	// 					.btn-buy {
	// 						position: relative;
	// 						padding: 14px 20px;
	// 						height: 64px;
	// 						width: 175px;
	// 						border: none;
	// 						background-color: #e1b067;
	// 						transition: all 0.5s ease-out;
	// 						i {
	// 							width: 50px;
	// 							position: absolute;
	// 							height: 50px;
	// 							line-height: 45px;
	// 							border-radius: 50%;
	// 							background-color: #666666;
	// 							color: #fff;
	// 							top: 8px;
	// 							left: 55px;
	// 							font-size: 1.6em;
	// 							border: 4px solid #ffffff;
	// 						}
	// 					}
	// 					.btn-price {
	// 						height: 64px;
	// 						width: 160px;
	// 						border: none;
	// 						background-color: #dedddc;
	// 						font-weight: 600;
	// 						font-size: 24px;
	// 						transition: all 0.5s ease-out;
	// 					}
	// 					&:hover .icon {
	// 						background-color: #e1b067;
	// 					}
	// 					&:hover .btn-buy {
	// 						background-color: #666666;
	// 					}

	// 					&:hover .btn-price {
	// 						background-color: #e1b067;
	// 						color: #fffcfc;
	// 					}
	// 				}
	// 				&:hover {
	// 					transform: translateY(-5px);
	// 				}
	// 			}
	// 		}
	// 	}
	//}
}

// .product-detail {
//   .product__title {
//     margin-bottom: 10px;
//     font-size: 30px;
//     font-weight: 300;
//     color: $color-text;
//   }

//   .product__size {
//     .size-list {
//       flex-wrap: wrap;
//       gap: 18px;

//       .box {
//         padding: 10px;
//         font-size: 24px;
//         font-weight: 600;
//         background: rgb(226, 226, 226);
//         transition: 0.35s ease-in-out;
//         border-radius: 10px;
//         cursor: pointer;
//       }

//       .box:hover {
//         background: rgba(145, 145, 145, 0.8);
//       }
//     }
//   }
//   .product__price {
//     font-size: 30px;
//     font-weight: 600;
//     color: $color-red;
//   }

//   .product__quantity {
//     width: 60px;
//     display: inline-block;
//     text-align: center;
//     font-size: 30px;
//   }

//   .product__btn-cart {
//     font-size: 24px;
//     font-weight: 500;
//     color: #fff;
//     border: none;
//     outline: none;
//     padding: 12px 24px;
//     background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
//   }
// }

// .product {
//   margin-top: 46px;

//   &__title {
//     margin-bottom: 90px;
//     font-weight: 400;
//     font-size: 40px;
//   }

//   &__link {
//     text-decoration: none;
//     display: inline-block;
//     color: #000;
//   }
//   .card {
//     border: none;
//     background-color: $c2-background-gray;
//     border-radius: 0;
//     margin-bottom: 50px;
//     width: 335px;
//     &-img-top {
//       padding-top: 45px;
//       width: 220px;
//     }
//     &-body {
//       margin-top: 30px;
//     }
//     &-title {
//       font-weight: 300;
//       font-size: 24px;
//     }
//     &-text {
//       font-size: 20px;
//       color: $color-text-lighter;
//     }
//     &-footer {
//       border-top: 0;
//     }
//     &-button {
//       display: inline-flex;
//       justify-content: center;
//       align-items: center;
//       text-decoration: none;
//       font-size: 24px;
//       font-weight: 200;
//       color: #000;
//       background: $color-button-2;
//     }
//     &-price {
//       padding: 14px;
//       font-size: 24px;
//       font-weight: 600;
//       background: $c1-background-gray;
//     }
//   }
// }